body {
	background-color:#c77dff ;
}
#fire{background-color:#ff7d00 ;

}
#water{background-color:#4061ba ;}
#earth{background-color:#90be6d ;

}
#air{background-color:#acb7bf ;

}

sss

red panda
tiger
golden retreiver

pitbull
husky
burmese cat

wolf
great dane
serval

river otter
chinchilla
cougers